.grafico-container {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 25px;
    margin-top: 20px;
    transition: all 0.3s ease;

    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.titulo-grafico {
    font-size: 1.2rem;
    color: #333;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
}