.monitoramento-container {
  background-color: #e2e2e2;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Gantari", sans-serif;
  transition: margin-left 0s ease;
}
.monitoramento-container.sidebar-open {
  margin-left: 203px; 
}

.monitoramento-container.sidebar-close,
.monitoramento-container.sidebar-mini {
  margin-left: 80px;
}

.titulo {
  font-size: rem;
  font-weight: 700;
  margin-bottom: 4px;
  color: #c4c4c4;
}

.subtitulo {
  font-size: 2rem;
  color: #c4c4c4;
  margin-bottom: 40px;
}

/* .tabela {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 80%;
  max-width: 600px;
} */

.cabecalho,
.linha {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.cabecalho {
  font-weight: 600;
  margin-bottom: 10px;
}

.linha .coluna {
  background-color: #d9d9d9;
  color: black;
  padding: 10px 0;
  border-radius: 8px;
  font-weight: 500;
  justify-self: unset;
}

.linha {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  /* gap: 12px; <-- adiciona espaço entre os quadros */
}

.tabela {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    background-color: #ffffff;
    border-radius: 80px;
    padding: 50px;
    width: 100%;    
    grid-template-columns: 1fr 2fr 1fr;
}


