.monitoramento-container {
  background-color: #001a16;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Gantari", sans-serif;
}

.titulo {
  font-size: 4.4rem;
  font-weight: 700;
  margin-bottom: 4px;

}

.subtitulo {
  font-size: 3rem;
  color: #c4c4c4;
  margin-bottom: 86px;
}

.tabela {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 80%;
  max-width: 600px;
}

.cabecalho,
.linha {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.cabecalho {
  font-weight: 600;
  margin-bottom: 10px;
}

.linha .coluna {
  background-color: #d9d9d9;
  color: black;
  padding: 8px 0;
  border-radius: 8px;
  font-weight: 500;
  justify-self: unset;
}

.linha {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  gap: 12px; /* <-- adiciona espaço entre os quadros */
}

.tabela {
  display: flex;
  flex-direction: column;
  gap: 16px; /* mais espaço entre as linhas */
  width: 80%;
  max-width: 600px;
}

.titulo .subtitulo{
    justify-content: center;
    max-width: 200px;
}


